/* Base */


body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  color: #434455;
  
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 1440px;
  
  
  
  
  
  
  
  
  
  
  
  
  
  
}

h1,h2,h3,h4,h5,h6, p  {
  margin-bottom: 0;
  margin-top: 0;
}


ul {
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

a {
  color: #2e2f42;
  text-decoration: none;
  color: currentColor;
  
}
.container {
  /* max-width: 1158px; */
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  
}



.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* logo */
.logo-dark {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-left: 156px;
  margin-right: 76px;
  padding-bottom: 25.5px;
  padding-top: 25.5px;
  margin-right: 76px;
  
}

.logo-accen {
  color: #2e2f42;
}


.navi-menu {
  
  padding-bottom: 24px;
  padding-top: 24px;
  display: flex;
  gap: 40px;


}

.menu_list {
  width: calc((100% - 40px * 2) / 3);
}
  



  
  

  
 
  


 

.navi-menu .navigation {
  font-weight: 500;
  letter-spacing: 0.02em;
  
}
.navigation:hover {
  color: #404bbf;
}

.navi-menu :focus {
  color: #404bbf;
}



/* address */
.ul_adress {
  display: flex;
  margin-left: auto;
}
  
  
  
  

li:last-child {
  margin-right: 0;
}

.address-search {
  color: #434455;
  margin-right: 40px;
  margin-inline-end:;
  margin-left: 332px;
  

}
.address-tel {
  color: #434455;
  margin-right: 156px;
  
}
.address-link {
  font-style: normal;
  color: #434455;
  letter-spacing: 0.02em;
  font-style: normal;
  letter-spacing: 2%;
  
  
}

.address-link :hover {
  color: #404bbf;
}

.address-link :focus {
  color: #404bbf;
  border: 1px solid #2e2f42;
}

.address-link :active {
  color: #404bbf;
}



.section {
  padding: 120px 120px;
}
  
  
  

/* Hero section */

.hero-section {
  background-color: #2e2f42;
  padding-top: 229.2px;
  max-width: 100%;
  
 
  
  
}

.main-title {
  max-width: 496px;
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 2%;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 49.12px;
  
}
/* batton */
.button-container {
display: flex;
justify-content: center;
align-items: center;
padding-bottom: 155.54px;

}
.button-section {
  font-size: 16px;
  font-family: inherit;
  font-weight: 500;
  color: #fff;
  background-color: #4d5ae5;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 57px;
  width: auto;
  
  
}

.button-section:hover {
  background: #404bbf;
}

.button-section:focus {
  background-color: #404bbf;
  border: 1px;
}

/* Our advantages section */
.our_ul {
  display: flex;
  gap: 24px;
  padding-top: 178px;
  padding-bottom: 120px;
  align-items: center;
  
  
}
  .advantages_li {
    width: calc((100% - 3 * 24px) / 4);
  }

 

.advantages {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  padding-bottom: 8px;
  
  
}

.quote-text {
  letter-spacing: 0.02em;
}

/* Our team section */
.team_ul {
  display: flex;
  padding-top: 72px;
  justify-content: space-between;
  
}
.caption {
  
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-transform: capitalize;
  text-align: center;
}
.item-desk {
  font-weight: 500;
  color: #2e2f42;
  line-height: 1.2;
  font-size: 20px;
  letter-spacing: 0.02em;
  display: flex;
  justify-content: center;
  padding-top: 32px;
  
}
.excerpt-text {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  padding-bottom: 32px;
  padding-top: 8px;
}

.our-section {
  background-color: #f4f4fd;
  padding-bottom: 120px;
  padding-top: 120px;
}

.card-team {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color: #fff;
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0 0 4px 4px;
  
}
/* Our Portfolio */

  .ul_portfolio {
    
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    
  }
 
    
    
 
 .our_border {
  
  padding: 32px 16px 32px 16px;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(231, 233, 252);
  border-left: 1px solid rgb(231, 233, 252);
  border-right: 1px solid rgb(231, 233, 252);

 }
 .images_portfoliob {
  margin-bottom: 0;
 }


 
  

 

.portfolio {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  padding-bottom: 74px;
}
.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  
}
.lead-text {
  letter-spacing: 0.02em;
}

/* footer */

.footer {
  
  background-color: #2e2f42;
  padding:100px 1020px 100px 156px;

  
  
}
.footer-container {
  width: 1158px;
  width: 264px;
  height: 112px;
  
  
}
  

.footer a {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
}

.logo-accent {
  color: #f4f4fd;
}
.logo-light {
  color: #4d5ae5;
  text-transform: uppercase;
}
.footer-text {
  color: #f4f4fd;
  letter-spacing: 0.02em;
 padding-top: 16px;
 
}
